<form id="form-vendedor" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" name="NOME" id="NOME" class="form-control">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label>Celular:</label>
                <input type="text" name="CELULAR" id="CELULAR" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-5">
            <div class="form-group">
                <label>Login:</label>
                <input type="text" name="LOGIN" id="LOGIN" class="form-control">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-5">
            <div class="form-group">
                <label>Senha:</label>
                <input type="text" name="SENHA" id="SENHA" class="form-control">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-2">
            <div class="form-group">
                <label>Tipo:</label>
                <select name="TIPO_ID" id="TIPO_ID" class="form-control pula" required>
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" name="ID" id="ID">
</form>