<form id="form-comprador" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" name="NOME" id="NOME" class="form-control">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label>Celular:</label>
                <input type="text" name="CELULAR" id="CELULAR" class="form-control">
            </div>
        </div>
    </div>
    
    <input type="hidden" name="ID" id="ID">
</form>